/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Jan-2014, 10:48:00
    Author     : Dzamil
*/

//Including reset CSS (by Eric Mayer)
@import "_reset_min.css";
@import "bootstrap.css";

//initial styles displaying table in admin/employee/employee_ad_to_group.php

#filter_by_value, #filter_by_value li{
    display: inline-block;
}
#add_employee_to_group{
    width: 800px;
    padding-top: 20px;
}

// hiding upload media section

#upload_media, #crop_image{
    display: none;
}

//image tab

#images_tab ul li{
    display: inline-block;
    float: left;
    padding-left: 20px;
}